*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

#banner{
    height: 500PX;
}
.container-banner-section{
    display: flex;
    width: 100%;
    background-image:url("/Portfolio-Without-Responsive/image/top-banner.png");
    background-repeat: no-repeat;
}
.row-left{
    width: 50%;
    padding: 0px 0px 0px 90px;
}
.row-right{
    width: 50%;
    padding: 0px 0px 0px 52px;
}
.row-right img{
    width: 80%;
   
}
.row-left-text{
    margin-top: 40px;
}
.row-left .row-left-text a{
    text-decoration: none;
    text-transform: uppercase;
    /* background-color: tomato; */
    background-image: linear-gradient(orange,tomato);
    padding: 14px 22px;
    display: inline-block;
    width: 144px;
    margin-top: 7px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.row-left .row-left-text h1{
    font-size:2em;
    font-weight: bold;

}
.row-left .row-left-text h1:nth-child(1){
   margin-top:45px;
}
.row-left .row-left-text h1:nth-child(2){
    margin-top:35px;
 }
 .row-left .row-left-text h3{
    margin-top:35px;
 }
 .row-left .row-left-text p{
    margin-top:20px;
 }

 .row-left .row-left-text .name-h1{
    color: orange;
 }