*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

#banner{
    height: 500PX;
    margin-bottom: 60px;
}
.container-banner-section{
    display: flex;
    width: 100%;
    background-image:url("/Portfolio-Without-Responsive/image/top-banner.png");
    background-repeat: no-repeat;
}
.container-banner-section .row-left{
    width: 50%;
    padding: 0px 0px 0px 90px;
}
.container-banner-section .row-right{
    width: 50%;
    padding: 0px 0px 0px 52px;
}
.row-right img{
    width: 80%;
   
}
.row-left-text{
    margin-top: 40px;
}
.row-left .row-left-text a{
    text-decoration: none;
    text-transform: uppercase;
    /* background-color: tomato; */
    background-image: linear-gradient(90deg,orange,tomato);
    padding: 14px 22px;
    display: inline-block;
    width: 144px;
    margin-top: 7px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.row-left .row-left-text h1{
    font-size:2em;
    font-weight: bold;

}
.row-left .row-left-text h1:nth-child(1){
   margin-top:45px;
}
.row-left .row-left-text h1:nth-child(2){
    margin-top:35px;
 }
 .row-left .row-left-text h3{
    margin-top:30px;
 }
 .row-left .row-left-text p{
    margin-top:18px;
 }

 .row-left .row-left-text .name-h1{
    color: orange;
 }

 /* DREM BIG SECTION */
 #dream-big-section{
    width: 100%;
    margin-bottom: 60px;
 }
.container-dream-big{
    display: flex;
    width: 100%;
    background-image: url("/Portfolio-Without-Responsive/image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.container-dream-big .left-row{
    width: 50%;
    padding: 0px 0px 0px 90px;
}
.left-row img{
    width: 90%;
    
}
.container-dream-big .right-row{
    width: 50%;
    /* padding-left: 55px; */
    /* margin-right: 25px; */
}
.container-dream-big .right-row-text{
    padding-left: 57px;
    padding-right: 125px;
}
.container-dream-big .right-row .right-row-text h1{
    margin-top: 55px;
}
.container-dream-big .right-row .right-row-text h3{
    margin-top: 25px;
}
.container-dream-big .right-row .right-row-text p{
    margin-top: 25px;
}
.container-dream-big .right-row .right-row-text a{
    margin-top: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(90deg,orange,tomato);
    padding: 12px 46px;
    border-radius: 8px;
    text-transform: uppercase;
}
hr{
    border-top: 2px solid grey;
    border-bottom:none;
    opacity: 0.3;
    margin-top: 25px;
    width: 70%;
    margin: 25px auto;
	
}
/* DREM BIG SECTION END HERE */

#experience{
    margin: 60px 0px;
    width: 100%;
    background-image: url("/Portfolio-Without-Responsive/image/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 260px;
}

.experience-text{
    padding: 5px;
    text-align: center;
    
    position: relative;
}
.experience-h1{
    font-size: 40px;
}
.experience-text h1::after{
    content: "";
    width: 150px;
    height: 6px;
    display: block;
    background-image:linear-gradient(90deg,orange,tomato);
    position: absolute;
    left: 43.9%;
    top: 63%;
    margin:9px 0px;
}
.experiences{
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.experiences-left{
    width: 40%;
    margin: 0 5%;
    /* border: 1px solid; */
    width: 40%;
    margin: 0 5%;
    border-radius: 5px;
    border-left: 7px solid tomato;
    box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.62);
    
}
.experiences-left-text{
    padding:5px 5px 5px 35px;
    margin-bottom: 60px;
}
.experiences-right-text{
    padding:5px 5px 5px 35px;
    margin-bottom: 60px;
}
.experiences-right{
    width: 40%;
    margin: 0 5%;
    border-radius: 5px;
    border-left: 7px solid blue;
    box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.62);
    

}
#experience h1{
    margin:50px 0px;
    font-size:35px;
}
#experience h3{
    margin: 40px 0px 30px 0px;
    color:orange;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}